<%- include('partials/header'); -%>

<h2>Compose</h2>
<br>

<form method="POST" action="/compose">
<label class="bold" for="Title">Title</label> <br>
<input class="full-width" type="text" name="title"> <br>
<label class="bold" for="Post">Post</label> <br>
<textarea class="full-width" name="post" cols="30" rows="10"></textarea> <br> <br>
<button type="submit">Publish</button>
</form>

<%- include('partials/footer'); -%>